/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
/*Font*/
@font-face {
  font-family: flama;
  src: url("../fonts/flama.otf");
}
@font-face {
  font-family:flama-condensed;
  src: url("../fonts/Flama Condensed/FlamaCondensed-Basic.otf");
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font: normal 1em flama, Verdana, Arial, sans-serif;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
/* Variables */
:root {
  --primary-grey: #555555;
  --primary-blue: #00a9e7;
}
/*modifier classes*/
.is-centered {
  text-align: center;
  /*justify-content: center;*/
}

.fixed {
  position: absolute;
}
/* Styling */
.we-mobile-navbar {
  display: none;
}

.we-accordion-nav {
  display: none;
}
.we-mobile-subnav {
  display: none;
}
.we-mobile-menu {
  display: none;
}
.we-nav {
  display: flex;
}
.we-nav a {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .75em;
  color: white;
}
.we-nav a:hover {
  text-decoration: underline;
  color: var(--primary-blue);
}
.we-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 1060px;
}
.we-navbar {
  margin: 0;
  border-bottom: 1em solid var(--primary-blue);
}
.we-super-nav {
  background-color: var(--primary-grey);
  justify-content: center;
  align-items: center;
  width: 100vw;
  /*max-width: 80vw;*/
  height: 2em;
}
.we-super-nav a {
  text-transform: uppercase;
  display: flex;
  align-items: center;r
  height: 100%;
  vertical-align: bottom;
}
.we-super-right {
  justify-content: flex-end;
}
.we-super-left {
  justify-content: flex-start;
}
.super-nav-item.active{
  height: 100%;
  box-shadow: inset 0 .35em 0 white;

}
.we-site-nav {
  justify-content: space-between;
  align-items: baseline;
}
.we-site-nav a {
  color: var(--primary-grey);
}
.we-nav-left {
}
.we-nav-left .we-logo-container {
  margin: 0 auto;
  padding: .5em 0;
}
.we-logo-container img{
  max-height: 50px;
  max-width: auto;
}
.we-nav-right {
  display: flex;
  align-self: center;
  padding-top: 1.8rem;
}
.we-nav-right .active {
  color: var(--primary-blue);

}
.we-nav-right a {
  height: 100%;
  position: relative;
}
.we-nav-right a:hover:after {
  transition: border .1s;
  -o-transition: border .1s;
  webkit-transition: border .1s;
  display: block;
  content: "";
  position: absolute;
  width: .08em;
  top: 2.5em; /* <-- change value to better position */
  left: 100%; /* centers the element's left edge */
  margin-left: -63%; /* <-- moves it back half it's own width */
  xxmargin: 0px auto; /* <-- eliminate, use above margin */
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid var(--primary-blue); /* <-- change to bottom for up arrow */
}

/* Media Queries */

@media only screen and (max-width: 768px){
  .we-navbar {
    visibility: hidden;
    display: none;
    margin: 0;
  }
  .we-mobile-language-toggle {
    color: white;
    font-size: 1.25em;
  }
  .lang:hover {
    color: red;
  }
  .lang.active {
    text-decoration: underline;
    font-weight: 600;
  }
  .we-mobile-navbar {
    height: 6em;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    top: 0;
    background-color: var(--primary-grey);
  }
  .we-mobile-container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger-container {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3.5em;
  }
  .hamburger, .hamburger:after, .hamburger:before {
    position: absolute;
    width: 2em;
    height: .2em;
    transition-timing-function: ease-in-out;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: .1em;
    background-color: white;
  }
  .hamburger {
    /*margin-left: -2em;*/
    top: 50%;
    display: block;
  }
  .hamburger.active {
    transform: rotateX(-180deg);
    background-color: transparent;
    transition: transform .15s cubic-bezier(.645,.045,.355,1),background-color 0s cubic-bezier(.645,.045,.355,1) .1s;
  }
  .hamburger:after, .hamburger:before {
    box-sizing: inherit;
    display: block;
    content: "";
  }
  .hamburger:before {
    top: -0.75em;
  }
  .hamburger:after {
    top: .75em;
  }
  .hamburger.active:before {
    transform: translate3d(0,1em,0) rotate(45deg);
  }
  .hamburger.active:after {
    transform: translate3d(0,-.5em,0) rotate(-45deg);
  }
  .we-mobile-menu {
    z-index: 2;
    display: flex;
    position: fixed;
    height: 0;
    overflow: hidden;
    top: 6em;
    width: 100vw;
    background-color: white;
    justify-content: center;
    transition: all .2s ease-in-out;
  }
  .we-mobile-menu.active {
    height: calc(100vh - 6em);
  }
  .we-mobile-menu-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .we-mobile-menu a {
    display: flex;
    font-size: 1.25em;
    flex-flow: column wrap;
    text-decoration: none;
    color: var(--primary-grey);
    height: 100%;
    width: 100%;
    line-height: calc((100vh - 6em) / 8);
  }
  .we-mobile-nav-item {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((100vh - 6em) / 9); /*Divided by number of menu items.*/
  }
  .we-mobile-nav-item.we-mobile-nav-social {
    justify-content: space-around;
    background-color: var(--primary-grey);
    color: white;
  }
  .we-mobile-nav-item a {
    text-decoration: none;
  }
  .we-mobile-menu a:hover {
    text-decoration: underline;
  }
  .we-mobile-subnav {
    /*display:none;*/
    display: flex;
    z-index: 3;
    position: absolute;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: white;
    transition: all .25s ease-in-out;
  }
  .we-mobile-subnav .we-mobile-container {
    width: 100vw;
    padding: 0 2em;
  }
  .we-mobile-subnav.active .we-mobile-subnav-top .we-mobile-subnav-container {
    line-height: 4em;
  }
  .we-mobile-subnav-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .we-mobile-super-nav {
    background-color: white;
    font-size: 1.5rem;
  }
  .we-mobile-super-nav a {
    color: var(--primary-grey);
  }
  .we-mobile-subnav-top {
    display: flex;
    height: 6rem;
    width: 100vw;
    align-self: center;
    align-items: center;
    background-color: var(--primary-grey);
    text-align: center;
  }
  .we-mobile-link-wrapper {
    position: fixed;
    top: 5em;
    height: calc(100vh - 6em);
    justify-content: space-around;
    display: flex;
    flex-flow: column nowrap;
  }
  .we-mobile-subnav-back {
    height: 100%;
    display: flex;
    width: 30vw;
    justify-content: center;
  }
  .we-mobile-subnav-active-section {
    font-size: 1.5em;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 70vw;
  }
  .we-mobile-subnav.active {
    z-index: 4;
    overflow: hidden;
    width: 100vw;
    transition: all .25s ease-in-out;
    /*transform: opacity(-100vw);*/
  }
  .we-mobile-subnav-container {
    display: none;
  }
  .we-mobile-subnav-container a {
    text-decoration: none;
    color: var(--primary-grey);
    width: 100%;
    text-align: center;
    line-height: calc(100vh / 9);
  }
  .we-mobile-subnav.active .we-mobile-subnav-container{
    display: flex;
    font-size: 1.25em;
    flex-flow: column wrap;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    line-height: calc(100vh / 9);
  }
  .we-accordion-super-nav, .we-accordion-super-nav {
    font-family: flama-condensed;
    font-size: 1.4rem;
  }
  /*.we-mobile-subnav.active .we-mobile-subnav-container  > .we-accordion-header:first {
    padding-top: 1em;
  }*/
  .we-accordion-nav {
    display: flex;
    position: fixed;
    top: 6em;
    flex-flow: column wrap;
    width: 100vw;
    height: 0;
    background-color: white;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  li.we-mobile-nav-item {
    height: calc((100vh - 6em) / 13);
  }
  li.we-mobile-nav-item a {
    height: 100%;
    width: 100%;
    display: block;
    color: var(--primary-grey);
  }
  .we-accordion-super-nav-container {
    background-color: var(--primary-grey);
  }
  .we-accordion-super-nav-container li.we-mobile-nav-item a {
    color: white;
  }
  .we-accordion-super-nav, .we-accordion-nav-footer {
    height: auto !important;
  }
  .we-accordion-super-nav {
    padding-left: 2rem;
  }
  .we-accordion-super-nav.active {
    border-left: .2em solid white;
  }
  .we-accordion-nav.active {
    min-height: calc(100vh - 6em);
    transition: all .2s ease-in-out;
  }
  .we-accordion-nav.active .we-accordion-nav-footer {
    min-height: 4em;
    background-color: var(--primary-grey);
    justify-content: space-around;
    border-top: 2px solid white;
    color: white;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
  }
  .we-accordion-nav .we-mobile-menu-container {
    display: flex;
    min-height: calc(100vh - 6em);
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .we-accordion-header, .we-accordion-header + .we-accordion-open {
    padding-left: 2rem;
    color: var(--primary-grey);
    transition: all .2s ease-in-out;
    box-shadow: inset 0 -.1em 0 var(--primary-grey);
  }
  /*.we-mobile-menu-container .we-accordion-open:last-child,.we-mobile-menu-container .we-accordion-closed:last-child, .we-accordion-header + .we-accordion-open:last-child {
    box-shadow: none;
  }*/
  .we-mobile-menu-container .we-accordion-header:last-of-type {
    box-shadow: none;
  }
  .we-accordion-header > *, .we-accordion-header-active > * {
    transition: all .2s ease-in-out;
  }
  h2.we-accordion-header {
    font-size: 1.2rem;
  }
  .we-accordion-header-active .fa-chevron-right {
    transform: rotate(90deg);
    transform-origin: 0.5rem 1.5rem;
  }
  .fa-chevron-right {
    transform: unset;
    float: right;
    padding-top: .6rem;
    padding-right: 4rem;
  }
  .we-accordion-header-active + .we-accordion-open {
    height: 100%;
    background-color: lightgrey;
  }
  .we-accordion-nav .we-accordion-open {
    transition: all .2s ease-in-out;
    width: 100vw;
    display: block;
    height: 100%;
    line-height: 2.6rem;
  }
  .we-accordion-nav .we-accordion-closed {
    height: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  .we-accordion-nav a {
    text-decoration: none;
    color: white;
    width: 100vw;
  }
  .we-accordion-nav ul {
    list-style: none;
    -webkit-padding-start: 0;
  }
  .we-accordion-nav li, .we-accordion-header {
    display: block;
    width: 100vw;
    line-height: 1.8em;
  }

  .we-accordion-nav .we-accordion-header {
    margin: 0;
    width: 100%;
  }
  /*TEMP*/
  we-accordion-header:active, a:active {
    background-color: gold;
  }
}













/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
